.App {
  text-align: center;
}

.pageTitle {
  margin-top: 40px;
  font-size: 56px;
  font-weight: bold;
  margin-bottom: 40px;
}

.nav-space {
  height: 91px;
}

.contactUs {
  color: white !important;
  background: none !important;
  border: none;
  margin-right: 14px !important;
  margin-top: 18px !important;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  align-self: stretch;
  height:34px;
  padding:8px;
}

.contactUs:hover {
  color: #aaa !important;
}
